.auction-card {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 20px 20px 30px 30px;
 // border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 4px 4px 10px rgb(0 0 0 / 23%);
  overflow: hidden;
  background-color: #fff;

  .option-container {
    cursor: pointer; /* Add pointer cursor to indicate clickable */
    margin-bottom: 20px; /* Add margin for spacing between options */
  }
  .header {
    display: flex;
    flex-wrap: wrap;
    border-bottom: 1px solid #ddd;

    .image-container {
      width: 30px; /* Make the time section smaller */
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: bold;
      color: #333;
      padding: 16px;
      background-color: #d9bbff; /* Add background color to differentiate */
      border-right: 1px solid #ddd; /* Add border to the right */
    }

    .details {
      flex: 1;
      padding: 16px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .info {
        .car-title {
          font-size: 1.5rem;
          font-weight: bold;
        }

        .car-specs {
          position: relative;
          margin-top: 8px;
          padding-left: 0px; /* Ensure space for the line */

          &:before {
            content: '';
            position: absolute;
            left: 3px; /* Align with the dot */
            top: 12px; /* Start from the first dot */
            bottom: 0;
            width: 2px;
            background: rgb(211 189 250);
          }

          .spec-item {
            display: flex;
            align-items: flex-start;
            padding: 6px 0;
            position: relative;

            .dot {
              width: 8px;
              height: 8px;
              background: #333;
              border-radius: 50%;
              margin-right: 8px;
              position: relative;
              top: 4px;
            }

            .spec-content {
              display: flex;
              flex-direction: column;

              .spec-name {
                font-weight: bold;
              }

              .spec-description {
                color: #666;
              }
            }
          }
        }
      }
    }
  }

  .secondaryButton {
    background-color: #ffffff;
    color: #b90000;
    border: 1px solid #b90000;
    &:hover {
      background-color: #b90000;
      color: #ffffff;
    }
    margin-top: 24px;
  }
}
